page-contact {

}

#profilIcon img {
  border: 2px solid color($colors, primary);
}

#profilHeader {

  position: relative;

  h5 {
    width: 100%;
    position: absolute;
    bottom: 22px;
  }

  h6 {
    width: 100%;
    color: color($colors, grey);
    font-weight: 400;
    position: absolute;
    bottom: 0px;
  }
}
