ion-item {
  margin-top: 2vh !important;
}

#eventName {
  margin-top: 0vh !important;
  padding-top: 2vh !important;
}

#creationButton {
  position: absolute;
  bottom: 20px;
}

ion-input {
  text-align: right;
}
